<!DOCTYPE html>
<html lang="en">
<head>
    <title>Matkaklubi</title>
    <%-include("./partials/header.ejs") %>
    </head>
<body>
    <div class="header-container">
        <div class="container">
            <%-include("./partials/menyy.ejs") %>
            <div class="row pealkiri">
                <div class="col-12 col-lg-6 pealkiri-kastid">
                    <div class="rida">
                        <div class="heading1">
                        CLIMB FOR BETTER
                    </div>
                    <img class="liblikas1" src="./Assets/Butterfly.png" alt="Butterfly">
                </div>
                    <div class="rida">
                        <img class="liblikas2" src="./Assets/Butterfly (2).png" alt="butterfly2">
                        <div class="heading2">GET OUT NOW</div>
                </div>
                    <div class="heading3">
                       <p>JOIN US FOR THE WEEKEND TO CLIMB THE HIGHEST PEAK IN ENGLAND</p>
                    </div>
                    <div class="call-to-action">
                        <a href="#">VIEW UPCOMING TREKS</a>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-6 pealkiri-pilt d-none d-lg-block">
                    <img class="matkaja" src="./Assets/Image.png" alt="">
                    <img class="vari" src="./Assets/Shadow.png" alt="">
                </div>
            </div>
            </div>
            <div class="row">
                <h1 class="heading4">MATKAKLUBI MATKAD</h1>
    <div class="matkaKonteiner">
    <% for (let i = 0; i < matkad.length; i++) { %>
    <div class="matk">
        <h3 class="matkaPealkiri"><%=matkad[i].nimetus %></h3>
        <img class="matkapilt" src="<%=matkad[i].pildiUrl %>">
        <p><%=matkad[i].kirjeldus %></p>
        <p>Osalejaid: <%=matkad[i].osalejad.length %></p>
        <a href="<%=/matk/ + i%>" >Loe edasi...</a>
    </div>
    <% } %>
            </div>
        </div>
    </div>
</body>
</html>